body {
  font-family: 'Inter', sans-serif;
  background-color: #FFFFFF;
  margin: 0;
}

/* soft scroll */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #C8E9D8;
  border-radius: 10px;
}
